.button-container{
  width: auto;
  min-width: 80px;
  border-radius: 20px;
  padding: 7px 20px;
  background-color: rgb(200, 118, 211);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(162, 97, 170) 5px 5px 5px;
}

p{
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 300;
}

.button-container:hover{
  cursor: pointer;
  background-color: rgb(226, 157, 217)

}

.favorite{
  background-color: lightsalmon;
  box-shadow: rgb(189, 118, 90) 5px 5px 5px;
  font-size: 16px;
}

.favorite:hover {
  background-color: rgb(247, 186, 162);
}
