.tile-container{
  width: 80%;
  height: auto;
  /* background-color: rgb(202, 96, 119); */
  background-color: rgb(233 159 175);
  /* background-color: rgb(233 177 189); */
  border-radius: 10px;
  margin: 20px;
  box-shadow: rgb(146, 69, 86) 5px 5px 3px;
  padding: 5px 10px;
}

.title-container{
  height: auto;
  font-family: 'Poppins', sans-serif;
  margin: auto 0;
  background-color: #93485d;
  border-radius: 20px;
}

.title-container h3{
  color: white;
  margin: 0px;
  margin-left: 10px;
  /* background-color: #93485d; */
  font-size: 25px;
  transition: color 0.5s;
}

.title-container h3:hover{
  color: rgb(211, 207, 207);
  cursor: pointer;
}

.subreddit-container p{
  color: white;
  font-size: 18px;
  width: auto;
}

.subreddit-container p:hover{
  color: #dbdcdd;
}

.tile-body-container{
  width: 100%;
  height: auto;
  max-height: 90vh;
  overflow: scroll;
  overflow-wrap: break-word;
}

img, embed, video{
  margin: 0 auto;
  border-radius: 10px;
  border: 0.5px solid rgb(165, 118, 118);
  max-height: 500px;
  max-width: 700px;

}

.link-container{
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
}

.link-container a{
  color: rgb(104, 82, 151);
  font-size: 15px;
  padding: 5px;
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
  
}

.tile-container a:hover{
  color: rgb(65, 40, 119);
}

.tile-body-container{
  font-size: 16px;
  height: auto;
  width: auto;
  background-color: rgb(207, 143 ,156);
  border-radius: 10px;
}

.tile-footer-container{
  /* justify-content: space-between; */
}
.tile-footer-container p{
  color: white;
  font-size: 15px;
  font-family: 'Poppins';
  font-style: normal;
  margin-right: 20px;
  font-style: normal;
}

.author-container span{
  color: rgb(194, 221, 245);
}

.score-container p{
  color: #c5345d;
}

.number-of-comments-container p{
  color: rgb(243, 243, 140);
  transition: border-bottom 1s;
}

.number-of-comments-container p:hover{
  cursor: pointer;
}
 
.number-of-comments-container p:after {
  display:block;
  content: '';
  border-bottom: solid 3px rgb(243, 243, 140);  
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.number-of-comments-container p:hover:after { transform: scaleX(1); }
.number-of-comments-container p.fromRight:after{ transform-origin:100% 50%; }
.number-of-comments-container p.fromLeft:after{  transform-origin:  0% 50%; }
